body {
    background-color: rgb(192, 235, 175);
}
.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    border: 1px solid black;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(235, 150, 53);
    border-radius: 2%;
    #rectangle {
        width:200px;
        height:100px;
        background:rgba(255, 255, 255, 0.473)
    }
    }
    
.dot {
    height: 75px;
    width: 75px;
    background-color: rgba(15, 33, 114, 0.993);
    border-radius: 50%;
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
}
   
.arrow-up {
    width: 220px; 
    height: 220px; 
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 55px solid black;
    margin-top: 30%;
    margin-left: 30%;
  }

  .arrow-up2 {
    width: 50px; 
    height: 50px; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid rgb(18, 156, 122);
    margin-top: 65%;
    margin-left: 630%;
  }
  .arrow-up3 {
    width: 0px; 
    height: 0px; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid rgb(248, 6, 196);
    margin-top: 80%;
    margin-left: 555%;
  }

  .dot3 {
    height: 75px;
    width: 75px;
    background-color: rgba(248, 11, 11, 0.993);
    border-radius: 50%;
    display: inline-block;
    margin-top: 410%;
    margin-left: -310%;
}

 
article {
    border: 1px solid black;
    border-radius: 2%;
}
